header
 .header_banner 
  img(src="../src/assets/images/headerBanner.png", alt="")
 .header_flat
  .container
    .header_top 
     ul
        li
            a(href="") Tiết kiệm hơn với ứng dụng
        li
            a(href="") bán hàng củng lazada
        li
            a(href="") chăm sóc khách hàng 
        li
            a(href="") kiểm tra đơn hàng 
        li
            a(href="") đăng nhập
        li
            a(href="") đăng ký
        li
            a(href="") change language
 .header_bottom
  .container
     .header_bottom_box 
       .header_logo 
        img(src="https://laz-img-cdn.alicdn.com/images/ims-web/TB1T7K2d8Cw3KVjSZFuXXcAOpXa.png", alt="")
       .header_search 
        input(type="text" placeholder="Tìm kiếm trên Lazada" )
        i.fa.fa-search(aria-hidden='true')
       .header_icon 
        span
       .header_thumb 
        img(src="https://icms-image.slatic.net/images/ims-web/42537899-a3d6-437a-bda5-3b2ed916bac6.png", alt="")
       