section.tabars
    .container 
        .tabars_box
            .tabars_content
                ul
                    li
                        a(href="") thiết bị điện tử
                    li
                        a(href="") Phụ kiện điện tử 
                    li
                        a(href="") Tv & Thiết bị da dụng 
                    li
                        a(href="") Sức khỏe & Làm đẹp
                    li
                        a(href="") Hàng mẹ, Bé & Đồ chơi
            .tabars_slider 
                img(src="https://lzd-img-global.slatic.net/g/icms/images/ims-web/95fe5a00-d0f7-4a6a-907f-36dee7859e89.jpg_2200x2200q90.jpg_.webp" alt="")